/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.dashBoardButton{
    -fx-background-color: #6b6b6b;
}
.dashBoardButton:hover{
    -fx-background-color: #7b7b7b;
}

.dashBoardButtonSelected{
    -fx-background-color: #3b3b3b; 
}